src/templates/index.pug
---
title: Index Page
---
extends layouts/_layout
block content
  
  .container
    h2.title PAGES
      ol.pages
        //- li.pages__item
        //-   a(href='moss-main.html').text 1) Moss Main Page
        li.pages__item
          a(href='purchase-history.html').text 2) Purchase History Page
        li.pages__item
          a(href='lockup-period.html').text 3) Lockup Period Page
        li.pages__item
          a(href='referral-bonus.html').text 4) Referral Bonus Page
        li.pages__item
          a(href='information.html').text 5) Information Page
        li.pages__item
          a(href='moss-signin1.html').text 6) First Login Step Page
        li.pages__item
          a(href='moss-signin2.html').text 7) Second Login Step Page
        li.pages__item
          a(href='moss-signin3.html').text 8) Third Login Step Page
        li.pages__item
          a(href='moss-signin4.html').text 9) Fourth Login Step Page

build/index.html
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=320, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
  </head>

  <body>
    <div class="container">
      <h2 class="title">PAGES
        <ol class="pages">
          <li class="pages__item"><a class="text" href="purchase-history.html">2) Purchase History Page</a></li>
          <li class="pages__item"><a class="text" href="lockup-period.html">3) Lockup Period Page</a></li>
          <li class="pages__item"><a class="text" href="referral-bonus.html">4) Referral Bonus Page</a></li>
          <li class="pages__item"><a class="text" href="information.html">5) Information Page</a></li>
          <li class="pages__item"><a class="text" href="moss-signin1.html">6) First Login Step Page</a></li>
          <li class="pages__item"><a class="text" href="moss-signin2.html">7) Second Login Step Page</a></li>
          <li class="pages__item"><a class="text" href="moss-signin3.html">8) Third Login Step Page</a></li>
          <li class="pages__item"><a class="text" href="moss-signin4.html">9) Fourth Login Step Page</a></li>
        </ol>
      </h2>
    </div>
    <!--LOAD scripts-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script type="text/javascript" src="http://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>
